{{!
    File List Item Template
    
    Renders a single file row in the table
    
    Context variables:
    - fileid: File ID
    - filename: File name
    - filesize: Formatted file size
    - activitytype: Type of activity/resource
    - location: Location description
    - locationurl: URL to file location
    - can_delete: Boolean whether user can delete this file
    - mimetype: MIME type of file
}}

<tr class="file-row" data-fileid="{{fileid}}">
    {{#if can_delete}}
    <td class="text-center file-select-column">
        <input type="checkbox" class="file-checkbox form-check-input" 
               value="{{fileid}}" 
               data-fileid="{{fileid}}"
               aria-label="{{#str}}select{{/str}} {{filename}}">
    </td>
    {{/if}}

    <td class="file-name-column">
        <div class="file-item-wrapper">
            <i class="fa fa-file-o file-icon" title="{{mimetype}}"></i>
            <span class="file-name" title="{{filename}}">{{filename}}</span>
        </div>
    </td>

    <td class="file-size-column">
        <span class="badge badge-info badge-lg">{{filesize}}</span>
    </td>

    <td class="activity-type-column">
        <span class="badge badge-secondary">{{activitytype}}</span>
    </td>

    <td class="location-column">
        <a href="{{locationurl}}" 
           class="location-link" 
           target="_blank" 
           rel="noopener noreferrer"
           title="{{#str}}open_in_new_window{{/str}}">
            {{location}}
            <i class="fa fa-external-link-alt"></i>
        </a>
    </td>
</tr>
